/* styles.css */

html,
body {
  margin: 0;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
}

.navbar-item-container {
  flex: 1;
}

.navbar-item-button-container {
  height: 100%;
}
